@media only screen and (max-width: 1500px) {
  .okvir {
    width: 100%;
  }
  #pwrapper .proj {
    width: 30%;
  }
  #swrapper {
    max-width: 800px;
  }
}

@media only screen and (max-width: 1250px) {
  #pwrapper .proj {
    width: 40%;
    height: 220px;
  }
  #pwrapper .proj figure figcaption p {
    height: 105px;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 18px;
  }
  #header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #header img {
    width: 300px;
  }
  #scwrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #scwrapper article {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #scwrapper article img {
    width: 40%;
    height: 150px;
    margin: 10px;
  }
  #scwrapper article .service p {
    margin: 10px;
  }
  #links {
    width: 95%;
  }
}

@media only screen and (max-width: 800px) {
  #pwrapper .proj {
    width: 90%;
    max-width: 470px;
    height: 220px;
  }
  #pwrapper .proj figure figcaption p {
    height: 105px;
  }
  #about #awrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about #awrapper p {
    max-width: 500px;
  }
}

@media only screen and (max-width: 700px) {
  #header #MeniBtn, #header #MeniClose {
    width: 60px;
    height: 60px;
  }
  #header #MeniBtn .linija, #header #MeniClose .linija {
    height: 4px;
    margin: 3px 0px;
  }
  #header #MeniClose #linija1, #header #MeniClose #linija2 {
    top: 30px;
  }
  #gore {
    width: 60px;
    height: 60px;
  }
  #contact #cwrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact #cwrapper #forma {
    width: 90%;
  }
  #contact #cwrapper #cLinks {
    margin-top: 50px;
    width: 90%;
  }
  #contact #cwrapper #cLinks article {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (max-width: 700px) and (max-width: 550px) {
  #header img {
    width: 65%;
  }
  #scwrapper article {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #scwrapper article img {
    width: 80%;
    height: 150px;
    margin: 10px;
  }
  #scwrapper article .service p {
    margin: 10px;
  }
  #skills #swrapper {
    margin-top: 15px;
  }
  #skills #swrapper article {
    width: 40%;
    margin: 10px;
  }
  #skills #swrapper article p, #skills #swrapper article h3 {
    font-size: 1em;
  }
}

@media only screen and (max-width: 700px) {
  #links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #links p {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 390px) {
  html {
    font-size: 16px;
  }
  #header #hNaslov {
    font-size: 15px;
    text-align: center;
  }
  #skills #swrapper article {
    width: 80%;
    max-width: 230px;
  }
  #about #awrapper img {
    width: 200px;
    height: 200px;
  }
}
/*# sourceMappingURL=responsive.css.map */