/* 1500px */
@media only screen and (max-width: 1500px){
    .okvir {
        width: 100%;
    }
    #swrapper {
        max-width: 800px;
    }
}
/* 1000px */
@media only screen and (max-width: 1000px){
    html {
        font-size: 18px;
    }
    #header {
        flex-direction: column;
        img {
            width: 300px;
        }
    }
    #pwrapper {
        .proj {
            width: 40%;
            height: 220px;
            figure {
                figcaption {
                    p {
                        height: 105px;
                    }
                }
            }
        }
    }
    #links {
        width: 95%;
    }
}