// 1500px
@media only screen and (max-width: 1500px){
    .okvir {
        width: 100%;
    }
    // SKILLS
    #swrapper {
        max-width: 800px;
    }
}
// 1000px
@media only screen and (max-width: 1000px){
    html {
        font-size: 18px;
    }
    // HEADER
    #header {
        flex-direction: column;
        img {
            width: 300px;
        }
    }
    // PROJEKTI
    #pwrapper {
        .proj {
            width: 40%;
            height: 220px;
            figure {
                figcaption {
                    p {
                        height: 105px;
                    }
                }
            }
        }
    }
    // FOOTER
    #links {
        width: 95%;
    }
}
// 800px
@media only screen and (max-width: 800px){
    // PROJEKTI
    #pwrapper {
        .proj {
            width: 70%;
            height: 220px;
            figure {
                figcaption {
                    p {
                        height: 105px;
                    }
                }
            }
        }
    }
}
// 700px
@media only screen and (max-width: 700px){
    // HEADER - MENI OPEN/CLOSE
    #header {
        #MeniBtn, #MeniClose {
            width: 60px;
            height: 60px;
            .linija {
                height: 4px;
                margin: 3px 0px;
            }
        }
        #MeniClose{
            #linija1, #linija2 {
                top: 30px;
            }
        }
    }
    // STRELICA
    #gore {
        width: 60px;
        height: 60px;
    }
    // ABOUT
    #about {
        #awrapper {
            flex-direction: column;
            p {
                max-width: 500px;
            }
        }
    }
    // KONTAKT
    #contact {
        #cwrapper {
            flex-direction: column;
            align-items: center;
            #forma {
                width: 90%;
            }
            #cLinks {
                width: 90%;
                margin-top: 60px;
                display: flex;
                justify-content: space-between;
                article {
                    width: 27vw;
                    min-height: 130px;
                }
            }
        }
    }
}
// 550px
@media only screen and (max-width: 550px){
    #header {
        img {
            width: 65%;
        }
    }
    // PROJEKTI
    #pwrapper {
        .proj {
            width: 85%;
            height: 220px;
        }
    }
    // SKILLS
    #skills {
        #swrapper {
            margin-top: 15px;
            article {
                width: 40%;
                margin: 10px;
                p, h3 {
                    font-size: 1em;
                }
            }
        }
    }
    // KONTAKT
    #contact {
        #cwrapper {
            flex-direction: column;
            align-items: center;
            #forma {
                width: 90%;
            }
            #cLinks {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                article {
                    width: 100%;
                    padding: 10px;
                    min-height: 50px;
                    flex-direction: row;
                }
            }
        }
    }
    // FOOTER
    #links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            margin-top: 50px;
        }
    }
}