$gradient: linear-gradient(135deg, #9039c1 25%,#1939ca 50%, #19a2ca 90%);
$gradient2: linear-gradient(to right, #19a2ca, #9039c1);
$gradient3: linear-gradient(135deg, #9039c1 25%, #19a2ca 100%);
$dark: #252525;
@font-face {
    src: url("Dosis.ttf");
    font-family: Dosis;
}
@font-face {
    src: url("Dosis-Light.ttf");
    font-family: DosisLight;
}
@mixin flex($justify, $align: center, $direction: row){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin h2w {
    h2 {
        border: none;
        text-shadow: 2px 2px 10px rgba(0,0,0,0.5), 1px 1px 5px rgba(0,0,0,0.7);
    }
}
@mixin gText {
    background: $gradient2;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-weight: 700;
}
// GLOBALNO
* {
    padding: 0px;
    margin: 0px;
    font-family: Dosis;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 20px;
    background-color: $dark;
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style-type: none;
}
.okvir {
    width: 1400px;
    margin: 0px auto;
}
h1 {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    font: {
        family: DosisLight;
        size: 3.5em;
        weight: 200;
    }
    border: {
        bottom-width: 2px;
        bottom-style: solid;
        image: $gradient2 100% 0;
    }
}
h2 {
    padding: 10px;
    font-size: 2em;
    font-weight: 200;
    border: {
        bottom-width: 2px;
        bottom-style: solid;
        image: $gradient2 100% 0;
    }
}
h3 {
    font-size: 20px;
    font-weight: 500;
}
.dugme {
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background-color .5s;
    &:hover {
        background-color: #fff;
    }
    &:hover span {
        @include gText;
    }
}
#header {
    position: relative;
    background: $gradient;
    background-size: 700% 700%;
    animation: pozadina 12s ease-out infinite;
    height: 100vh;
    width: 100%; 
    z-index: 2;
    overflow: hidden;
    @include flex(center);
    @include h2w;
    overflow: hidden;
    width: 100%;
    #MeniBtn, #MeniClose {
        position: fixed;
        top: 2%;
        right: 2%;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        @include flex(center, center, column);
    }
    #MeniBtn {
        background: rgba(0,0,0,0.3);
        backdrop-filter: blur(5px);
        box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
        z-index: 10;
        .linija {
            width: 50%;
            height: 5px;
            background-color: #fff;
            margin: 4px 0px;
            border-radius: 2px;
        }
        &:hover {
            background-color: #fff;
            .linija {
                background: $gradient2;
            }
        }
    }
    #MeniClose {
        visibility: hidden;
        z-index: 20;
        #linija1 {
            position: absolute;
            top: 35px;
            left: 10px;
            width: 70%;
            height: 4%;
            transform: rotate(45deg);
            background-color: #fff;
        }
        #linija2 {
            @extend #linija1;
            transform: rotate(-45deg);
        }
    }  
    #Meni {
        position: fixed;
        visibility: hidden;
        top: 0px;
        right: 0px;
        z-index: 11;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(8px);
        text-shadow: 2px 2px 5px #000;
        opacity: 0;
        will-change: opacity, visibility, transform;
        transition: opacity 0.5s, visibility 0.5s;
        &:target{
            opacity: 1;
            visibility: visible;
            ul {
                visibility: visible;
                transform: scale(1,1);
            }
            #MeniClose {
                visibility: visible;
            }
            & + a {
                visibility: hidden;
            }
        } 
        ul {
            visibility: hidden;
            width: 100%;
            height: 100%;
            @include flex(center, center, column);
            transform: scale(0,0);
            will-change: transform;
            transition: transform 0.5s ease-out;
            li {
                padding: 10px;
                margin: 10px;
                font-size: 1.4em;
                transition: transform 0.2s;
                &:hover {
                    transform: scale(1.25,1.3);
                }
            }
        }
    }
    img {
        width: 400px;
        margin: 20px;
        will-change: margin, opacity;
        animation: logo 1.2s ease-in-out;
    }
    @keyframes logo {
        0% {
            opacity: 0;
            transform: scale(0.3,0.3);
            margin-left: 20%;
            margin-top: 20%;
        }
        30% {
            margin-left: 22%;
        }
        100% {
            opacity: 1;
            margin: 20px;
            
        }
    }
    #hNaslov {
        @include flex(flex-start, flex-start, column);
        animation: naslov 1.2s ease-in-out;
        margin: 0px 30px;
        h2{
            text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
            font: {
                size: 1.5em;
                family: DosisLight;
            }
            letter-spacing: 0.1em;
            padding: 0px;
            text-align: center;
            width: 100%;
        }
        .dugme {
            margin: 20px auto;
            padding: 8px 15px;
            font-size: 1em;
        }
    }
    @keyframes naslov {
        0% {
            opacity: 0;
        }
        40% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    #dole {
        visibility: hidden;
        position: absolute;
        bottom: 0px;
        font-size: 1.5em;
        animation: dole 5s ease-out infinite;
    }
    @keyframes dole {
        0% {
            opacity: 0;
            bottom: 100px;
        }
        20% {
            visibility: visible;
            opacity: 0;
            bottom: 60px;
        }
        40% {
            visibility: visible;
            opacity: 0.5;
        }
        50% {
            bottom: 0px;
            opacity: 0;
            visibility: hidden;
        }
    }
    
}
@keyframes pozadina {
    0%{
        background-position:0% 50%
    }
    50%{
        background-position:100% 50%
    }
    100%{
        background-position:0% 50%
    }
}
#gore {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    @include flex(center, center, column);
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    z-index: 1;
    font-size: 1.7em;
    padding-bottom: 0.1em;
    &:hover {
        background: rgba(0,0,0,0.6);
    }
}
section {
    padding: 20px 5px;
    @include flex(flex-start, center, column);
}
#pwrapper {
    @include flex(center);
    flex-wrap: wrap;
    padding: 30px 0px;
    .proj {
        width: 400px;
        height: 250px;
        margin: 20px;
        border-radius: 15px;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
        overflow: hidden;
        figure {
            width: 100%;
            height: 100%;
            position: relative;
            img {
                width: inherit;
                height: inherit;
                object-fit: cover;
                border-radius: 15px;
            }
            figcaption {
                position: absolute;
                width: 100%;
                height: 30%;
                top: 70%;
                background: rgba(0,0,0,0.65);
                border-radius: 0px 0px 15px 15px;
                padding: 10px 15px;
                text-align: center;
                will-change: top, height;
                transition: top 0.5s ease-out, height 0.5s ease-out, padding 0.5s ease-out, border-radius 0.5s ease-out;
                .lm, p {
                    color: #ddd;
                    font-size: 0.8em;
                }
                .dugme {
                    display: none;
                    font-size: 0.9em;
                }
                p {
                    margin: 15px 0px;
                    height: 130px;
                    display: none;
                }
            }   
            &:hover figcaption {
                height: 100%;
                top: 0px;
                border-radius: 15px;
                background: rgba(0,0,0,0.8);
                padding: 15px;
                p {
                    display: block;
                }
                .dugme {
                    display: inline-block;
                }
                .lm {
                    display: none;
                }
            }
        }
    }
}
#skills {
    background: {
        image: url("../img/bgSkills.jpg");
        repeat: no-repeat;
        size: cover;
        position: 0% 0%;
    }
    @include h2w;
    #swrapper {
        @include flex(center);
        flex-wrap: wrap;
        width: 100%;
        article {
            width: 200px;
            height: 270px;
            margin: 20px;
            padding: 20px;
            @include flex(center, center, column);
            border-radius: 15px;
            box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
            background: rgba(0,0,0,0.7);
            span {
                font-size: 120px;
                margin-bottom: 10px;
                &.sLogo {
                    font-size: 100px;
                }
                &.smaller {
                    font-size: 110px;
                }
            }
            p {
                font-size: 18px;
                &.high {
                    color: #23c258;
                }
                &.medium {
                    color: #d1b63e;
                }
                &.low {
                    color: #19a2ca;
                }
            }
        }
    }
}
#about {
    #awrapper {
        @include flex(space-around);
        padding: 20px;
        img {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            object-fit: cover;
            filter: brightness(50%);
            margin: 10px;
        }
        p {
            margin: 10px;
            text-align: justify;
            max-width: 800px;
        }
    }
}
#contact {
    background: $gradient3;
    @include h2w;
    #cwrapper {
        @include flex(space-between, flex-start, row);
        padding: 30px 0px;
        max-width: 900px;
        #forma {
            width: 60%;
            font-size: 1em;
            margin: 10px;
            input, textarea, button {
                font-size: inherit;
                color: #fff;
                padding: 15px;
                margin-bottom: 10px;
                background: rgba(0,0,0,0.4);
                border: none;
                border-radius: 15px;
                width: 100%;
                &:focus {
                    background: rgba(0,0,0,0.6);
                    outline: none;
                }
            }
            textarea {
                resize: none;
                height: 200px;
            }
            #btnwrapper {
                @include flex(center);
                button {
                    @extend .dugme;
                    border: none;
                    border-radius: 15px;
                    padding: 10px;
                    width: 120px;
                    margin: 5px;
                }
            }
        }
        #cLinks {
            width: 30%;
            margin: 10px;
            article {
                padding: 20px;
                margin-bottom: 10px;
                border-radius: 15px;
                width: 100%;
                @include flex(flex-start, center, column);
                @extend .dugme;
                border: none;
                background: rgba(0,0,0,0.4);
                &:hover {
                    color: #000;
                }
                span {
                    font-size: 2em;
                    margin: 10px;
                }
                p {
                    text-align: center;
                }
            }
        }
    }
}
#links {
    padding: 30px;
    @include flex(space-between, flex-start,row);
    flex-wrap: wrap;
    width: 950px;
    ul {
            @include flex(center, center, column);
            li {
                margin: 2px;
                a:hover {
                   @include gText;
                }
            }
        }
    p {
        margin: 20px 0px;
    }
}