* {
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
    animation: appear 0.5s;
}
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
section {
    height: 600px;
    width: 100%;
}
#s1 {
    background-image: url("../img/slider.jpg");
    background-attachment: fixed;
    background-size: cover;
}
#s2 {
    background-color: lightseagreen;
}
#s3 {
    background-color:dodgerblue;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: darkcyan;
}
header a {
    color: white;
}
#MeniBtn, #MeniClose {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgba(250, 250, 250, 0.2);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    z-index: 10;
}
#MeniClose {
    visibility: hidden;
    background: none;
    backdrop-filter: blur(5px);
    z-index: 20;
}  
#MeniBtn:active {
    background: rgba(0, 0, 0, 0.2);
    color: rgba(250, 250, 250, 0.3);
    text-shadow: none;
}
#Meni {
    position: fixed;
    visibility: hidden;
    top: 0px;
    right: 0px;
    z-index: 11;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    text-shadow: 2px 2px 5px #000;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}
#Meni:target{
    opacity: 1;
    visibility: visible;
}
#Meni:target ul {
    visibility: visible;
    transform: scale(1,1);
}
#Meni:target #MeniClose {
    visibility: visible;
}

#Meni ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0,0);
    visibility: hidden;
    transition: transform 0.5s ease-out;
}
#Meni ul li {
    padding: 10px;
    margin: 10px;
    font-size: 28px;
}
#Meni ul li a {
    transition: color 0.3s ease-out;
}
#Meni ul li a:hover {
    color: rgb(0, 165, 102);
}